img{
    height: 200px;
    width: 220px;
}
li{
    list-style: none;
    border: 1px solid red;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}
li:hover{
    transform: scale(1.1);
}
li div{
    display: flex;
    gap: 10px;
}
h1{
    text-align: center;
}
ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

@media only screen and (max-width: 900px) {
    .media_menu {
            
            display: flex !important;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;
        }
}
.media_menu{
    display: none;
    
}
.media_menu div{
    padding: 10px 30px;
    background-color: burlywood;
    border: 1px solid red;
    border-radius: 12px;
}
